

<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h5 class="form-title student-info">Liste des Départements</h5>
          </div>
          <div class="col-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Libellé</th>
                  <th>Chef du Département</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let department of departments">
                  <td>{{ department.id }}</td>
                  <td>{{ department.libelle }}</td>
                  <td>{{ department.chefDepartement }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
